* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  margin-bottom: 16px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: min(600px, 80vmin);
  height: min(600px, 80vmin);
  border: 1px solid black;
}