* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  margin-bottom: 16px;
}

#container {
  width: 480px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
}

.square{
  box-sizing: border-box;
}